.Rproj.user
.Rhistory
.RData
.Ruserdata
bibliography/*
proposal/*
figures/*
renv/*
*.shp
*.shx
*.dbf
*.xml
*.sbx
*.sbn
*.tfw
*.tif
*.prj
*.ovr
*.cpg
*.ini
*.geojson
*.tsv
*.csv
*.nc4
*.sh
renv.lock
README.html